@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;600;700&display=swap');

#navbar {
    background-color: #002676;
    opacity: 85%;
    color: #FDB515;
    align-items: center;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box; 
}

#home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 10px;
}

#site-title {
    text-decoration: none;
    color: #FDB515;
    font-family: 'Source Serif 4', serif;
    font-size: medium;
}

#bear-icon {
    width: 69px;
    height: 45px;
}
#navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    left: 15px;
}

#navbar-right {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 35px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #FDB515;
    font-family: 'Source Serif 4', serif;
    list-style-type: none;
    font-size: medium;
}